doctype html
html(lang='en')
 head
   meta(charset="UTF-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
   mate(http-equiv="X-UA-Compatible" content="IE=edge")
   title chat group login
   link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
   link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap" rel="stylesheet")
   link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
   link(href="../public/css/style.css" rel="stylesheet")
 

 body
        nav.nav-style.mb-5.px-3.d-flex.justify-content-between.align-items-center.position-fixed.fixed-top
            a.logo.d-none.d-md-block.text-decoration-none(href="/")
                 img.img-fluid(src="../public/images/logo.png" )
            .ml-auto
                 .drop-down
                     button.btn.btnn-lg.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                         img.dropdown-img.img-fluid.rounded-circle(src=userphoto.img)
                         span.pl-2.text-capitalize #{name}   
                     .dropdown-menu.dropdown-menu-right.bg-secondary.shadow-sm.px-3.mt-2(aria-labelledby="dropdownMenuButton")
                         a.dropdown-item.p-2.d-flex.align-items-center(href="/users")
                             span.material-icons.pr-2 account_circle
                             span My Profile        
                         a.dropdown-item.p-2.d-flex.align-items-center(href="/chat")
                             span.material-icons.pr-2 people_alt 
                             span Groupchat 
                         .dropdown-divider
                         a.dropdown-item.p-2.d-flex.align-items-center(href="/auth/logout") 
                             span.material-icons.pr-2 exit_to_app 
                             span Logout  
        .container.main-content                         
             header.text-center.m-2
                 h1.h2.text-capitalize.text-light.font-weight-bold #{username} profile
                 each message in messages
                     .alert.alert-danger #{message}
                                
             main.d-flex.py-2
                .col-md-8.mx-auto
                     .card.overflow-hidden.shadow-lg.bg-secondary
                         ul.list-group.list-group-flush
                             li.list-group-item.d-flex.align-items-center
                                 h6.text-uppercase.font-weight-bold.text-primary photo
                                 img.profile-img.img-fluid.rounded-circle(src=photo.img)
                             li.list-group-item.d-flex.align-items-center
                                 h6.text-uppercase.font-weight-bold.text-primary name
                                 p.text-capitalize #{username}
                             li.list-group-item.d-flex.align-items-center
                                 h6.text-uppercase.font-weight-bold.text-primary bio
                                 p #{bio}
                             li.list-group-item.d-flex.align-items-center
                                 h6.text-uppercase.font-weight-bold.text-primary phone
                                 p #{phone}
                             li.list-group-item.d-flex.align-items-center
                                 h6.text-uppercase.font-weight-bold.text-primary email
                                 p #{email}  
               
               
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")              
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
        script(src="../public/client.js")   